@import './admin.css';

.container{
    position: relative;
    top: 50px;
    margin-bottom: 15%;
}
.jumbotron {
    padding: 1rem 0rem;
  }
  .jumbotron {
      padding: 2rem 1rem;
      margin-bottom: 2rem;
      background-color: #e9ecef;
      border-radius: .3rem;
      text-align: center;
  }
  img {
    vertical-align: middle;
    border-style: none;
}

.pointing{
    cursor: pointer;
}

